@model PresentationLayer.Models.DayOverview




<div class="row">
    
    <div class="col-md-4">
        <button type="button" id="chartbtn" class="btn btn-default">Click to create pie chart</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="chartArea"></div>
    </div>
</div>

@section scripts{

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
        $(document)
        .ready(function () {

                var series = [
                    {
                        type: 'pie',
                        name: 'This is the name',
                        data: $("#ChartData")
                    }
                ];

            $("#chartArea")
            .highcharts({
                chart: {
                    type: 'pie',
                },
                credits: {
                    enabled: false,
                },
                exporitng: {
                    enabled: false,
                },

                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.constratTestColor) || 'black',
                            },
                        }

                    }
                },
                series: series,
                title: {
                    text: title
                }
            });
        });

    </script>
}


@*<h4>Display pie chart using Highcharts in Asp.net C#</h4>
<select id="ddlyear">
    <option>2013</option>
    <option>2014</option>
</select>
<button id="btnCreatePieChart">Show </button>
<br />
<div>
    <div id="test" style="width: 500px; height: 500px"></div>
</div>


@Scripts.Render("~/Scripts/testing.js")*@

