@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<script type="text/javascript" src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>

@model DotNet.Highcharts.Highcharts

<p>Index</p>

@(Model)

