@model PresentationLayer.Models.CityPopulation

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    
    <div class="col-md-4">
        <select id="ddlyear">
        <option>2013</option>
        <option>2014</option>
        </select>
        <button type="button" id="chartbtn" class="btn btn-default">Click to create pie chart</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="chartArea"></div>
    </div>
</div>

@section scripts{

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
        $(document)
        .ready(function () {

            $('#chartbtn')
            .click(function () {
                var pData = [];
                pData[0] = $("#ddlyear").val();

                var jsonData = JSON.stringify({ pData: pData });

                $.ajax({
                    type: "GET",

                    url: '@Url.Action("GetChartData")',

                    data: jsonData,

                    dataType: "json",

                    success: function (data) {

                        var series = [
                            {
                                type: 'pie',
                                name: 'This is the name',
                                data: data
                            }
                        ];

                        createChart("#chartArea", "Sample PIE", series);
                    }
                });
            });

            function createChart(chartContainer, title, series) {

                $(chartContainer)
                .highcharts({
                    chart: {
                        type: 'pie',
                    },
                    credits: {
                        enabled: false,
                    },
                    exporitng: {
                        enabled: false,
                    },

                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage.1f} %',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.constratTestColor) || 'black',
                                },
                            }

                        }
                    },
                    series: series,
                    title: {
                        text: title
                    }
                });
            }
        });



    </script>
}


@*<h4>Display pie chart using Highcharts in Asp.net C#</h4>
<select id="ddlyear">
    <option>2013</option>
    <option>2014</option>
</select>
<button id="btnCreatePieChart">Show </button>
<br />
<div>
    <div id="test" style="width: 500px; height: 500px"></div>
</div>


@Scripts.Render("~/Scripts/testing.js")*@

