@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Home/_AdminNavigation.cshtml";
}


<h2>Test</h2>

<script type="text/javascript" src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>

@model DotNet.Highcharts.Highcharts


<div class="content-wrapper col-md-9">
    @(Model)
</div>


<div class="panel panel-info pull-right">
    <div class="panel-heading"><strong>Rates for this week:</strong></div>
    <div class="panel-body bg-info">
        @foreach (string message in ViewBag.Message)
        {
            <p>@message</p>
            <br />
        }

    </div>
</div>




