@model PresentationLayer.Models.ChartViewModel

@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Home/_AdminNavigation.cshtml";
}

<script type="text/javascript" src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>

<h2>Dashboard</h2>

<div class="container">
  <h2>Dashboard</h2>
  <p>All data displayed is relevant for startdate and endate</p>
  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#overview">Overview</a></li>
    <li><a data-toggle="pill" href="#resources">Resources</a></li>
    <li><a data-toggle="pill" href="#monday">Monday</a></li>
    <li><a data-toggle="pill" href="#tuesday">Tuesday</a></li>
    <li><a data-toggle="pill" href="#wednesday">Wednesday</a></li>
    <li><a data-toggle="pill" href="#thursday">Thursday</a></li>
    <li><a data-toggle="pill" href="#friday">Friday</a></li>
    <li><a data-toggle="pill" href="#timeslots">Time slots</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="overview" class="tab-pane fade in active">
      <h3>HOME</h3>
          @Html.Partial("_overview", Model)
    </div>
    <div id="resources" class="tab-pane fade in">
      <h3>RESOURCES</h3>
          @Html.Partial("_resources", Model)
    </div>
    <div id="monday" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="tuesday" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="wednesday" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>






