@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>

<h2>Index</h2>

@model DotNet.Highcharts.Highcharts

<p> My chart</p>

@(Model)
