@model PresentationLayer.Models.CreateBooking

@{
    ViewBag.Title = "CreateGrouoBooking";
    Layout = null;
}

<h3>Add a booking with multiple attendees</h3>

    @using (Ajax.BeginForm("RetrieveAvailableResourcesForGroupBooking", "Booking", new AjaxOptions()
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "groupResources",
    }))
    {
        <div class="panel-group col-md-9" style="padding:0px" id="accordion">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                Add team(s)</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body">
                    @Html.Partial("_groupTeams", Model)
              </div>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                Add attendee(s)</a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">
                    @Html.Partial("_groupAttendees", Model)
              </div>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                Booking criteria</a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">
                  @Html.Partial("_groupBookingCriteria", Model)
              </div>
            </div>
          </div>
        </div>
    }

    @*List of resources available*@
    <div id="groupResources">
        @Html.Partial("_groupResources")
    </div>
