@model PresentationLayer.Models.CreateBooking

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<h2>Create...</h2>
    @using (Ajax.BeginForm("RetrieveAvailableResourcesForGroupBooking", "Booking", new AjaxOptions()
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "groupResources",
    }))
    {
        <div id="accordion">
            <h3>Add teams</h3>
            <div>
                @Html.Partial("_groupTeams", Model)
            </div>
            <h3>Add Attendees</h3>
            <div>
                @Html.Partial("_groupAttendees", Model)
            </div>
            <h3>Booking criteria</h3>
            <div>
                @Html.Partial("_groupBookingCriteria", Model)
            </div>
        </div>
    }

    @*List of resources available*@
    <div id="groupResources">
        @Html.Partial("_groupResources")
    </div>
    <script>
        $(function () {
            $("#accordion").accordion({
                heightStyle: "content",
                collapsible: true,
            });
        });
    </script>
