@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Home/_AdminNavigation.cshtml";
}


<h2>Test</h2>

<script type="text/javascript" src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>

@model DotNet.Highcharts.Highcharts

@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>Having issues with charts</p>
            <p>Add bookings</p>
            <p>Delete slots and teams</p>

        </div>
        
    </section>
}*@

<div class="content-wrapper">
    @(Model)
</div>


